#main{overflow: hidden;}

#fp-nav.black ul li .fp-tooltip{color: #000;}
#fp-nav.black ul li a span, .fp-slidesNav.black ul li a span{background: #000;}
#fp-nav ul li:last-child, .fp-slidesNav ul li:last-child{display: none;}
.section{overflow: hidden;}
.section01 {position: relative;background: #000;}
.visualWrap{position: relative;}
.visualSwiper{width: 100%;min-height: 800px;height: 100vh;}
.visualSwiper .swiper-wrapper{display: flex !important;}
.visualSwiper .swiper-slide{position: relative;height: 100%;}
.visualSwiper .visualBg{position: relative;width: 100%;min-height: 800px;height: 100vh;}
.visualSwiper .visualBg img{position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;transform: scale(1.2);}
.visualSwiper .visualText{position: absolute;top: 50%;left: 50%;display: flex;flex-wrap: wrap;flex-direction: column;justify-content: center;align-items: center;width: 100%;height: 100%;padding-bottom: 50px;box-sizing: border-box;text-align: center;z-index: 1;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);}
.visualSwiper .visualText p{transform: translateY(1rem);-webkit-transform: translateY(1rem);-moz-transform: translateY(1rem);-ms-transform: translateY(1rem);-o-transform: translateY(1rem);opacity: 0;transition: 1.1s;-webkit-transition: 1.1s;-moz-transition: 1.1s;-ms-transition: 1.1s;-o-transition: 1.1s;transition-delay: 0.8s;color: #FFF;font-size: 60px;font-weight: 700;line-height: 140%;letter-spacing: 0.2px;text-align: center;word-break: keep-all;font-family: "Montserrat", sans-serif;}
.visualSwiper .visualText p.delay{transition-delay: 1.2s;}
.visualControl{position: absolute;top: 50%;left: 50%;width: 100%;max-width: 170px;height: 100%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);padding-top: 250px;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;justify-content: center;gap: 10px;z-index: 99;}
.visualControl button{position: initial;top: initial;right: initial;left: initial;margin-top: initial;}
.visualControl .swiper-button-prev{width: 18px;height: 18px;background-image: url(../images/main/icon_left_white.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.visualControl .swiper-button-next{width: 18px;height: 18px;background-image: url(../images/main/icon_left_white.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;transform: rotate(180deg);}
.visualControl .swiper-button-autoplay{width: 18px;height: 18px;background-image: url(../images/main/icon_stop_white.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.visualControl .swiper-button-autoplay.on{background-image: url(../images/main/icon_start_white.svg);}
.visualControl .pagination{width: auto;color: #FFF;font-size: 18px;font-weight: 700;line-height: normal;letter-spacing: 0.2px;text-align: center;font-family: "Montserrat", sans-serif;}
.visualControl .swiper-button-prev:after, .visualControl .swiper-button-next:after{display: none;}
.visualSwiper .swiper-slide-active .visualBg img{transform: scale(1);transition: transform 2.5s;}
.visualSwiper .swiper-slide:not(.swiper-slide-active) img{opacity: 0;}
.visualSwiper .swiper-slide-active .visualText p{opacity: 1;transform: none;-webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none;}

#section2{position: relative;}
.productGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: stretch;height: 100vh;}
.productGroup .titleGroup{width: 25%;padding-top: 150px;padding-left: 50px;box-sizing: border-box;}
.productGroup .titleGroup strong{display: block;color: #000;font-size: 50px;font-weight: 700;line-height: normal;letter-spacing: -0.4px;font-family: "Montserrat", sans-serif;}
.productGroup .titleGroup p{margin-top: 20px;color: #222;font-size: 26px;font-weight: 400;line-height: normal;}
.productGroup ul{width: 75%;display: flex;}
.productGroup ul li{width: 50%;padding-top: 150px;padding-left: 50px;box-sizing: border-box;background-position: center top;background-size: cover;background-repeat: no-repeat;}
.productGroup ul li:nth-child(1){background-image: url(../images/main/bg_afc.jpg);border-radius: 0 0 0 100px;}
.productGroup ul li:nth-child(2){background-image: url(../images/main/bg_acc.jpg);}
.productGroup ul li p.lg{color: #000;font-size: 40px;font-weight: 700;line-height: normal;font-family: "Montserrat", sans-serif;}
.productGroup ul li p.md{margin-top: 20px;color: #000;font-size: 30px;font-weight: 400;line-height: 150%;font-family: "Montserrat", sans-serif;}
.productGroup ul li p.sm{margin-top: 20px;color: #000;font-size: 20px;font-weight: 400;line-height: 150%;letter-spacing: -0.4px;}
.productGroup ul li .btnViewmore{position: relative;display: inline-block;margin-top: 33px;padding: 0 25px;box-sizing: border-box;color: #000;font-size: 20px;font-weight: 400;line-height: normal;z-index: 1;font-family: "Montserrat", sans-serif;}
.productGroup ul li .btnViewmore i{position: absolute;left: 0;top: 50%;width: 50px;height: 50px;margin-top: -25px;background: rgba(37, 72, 227, 0.50);border-radius: 50px;z-index: -1;}
.productGroup ul li .btnViewmore:hover i{background: #2548E3;}

#section3{position: relative;}
.ceoGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: stretch;height: 100vh;}
.ceoGroup .imageArea{width: 50%;height: 100%;border-radius: 0 100px 0 0;overflow: hidden;}
.ceoGroup .imageArea img{width: 100%;height: 100%;display: block;object-fit: cover;}
.ceoGroup .textArea{width: 50%;height: 100%;padding-top: 170px;padding-left: 70px;background-image: url(../images/main/bg_earth.png);background-position: center bottom;background-repeat: no-repeat;box-sizing: border-box;}
.ceoGroup .textArea span{display: block;color: #FFF;font-size: 30px;font-weight: 400;line-height: 150%;font-family: "Montserrat", sans-serif;}
.ceoGroup .textArea strong{display: block;color: #FFF;font-size: 50px;font-weight: 700;line-height: 150%;font-family: "Montserrat", sans-serif;}
.ceoGroup .textArea p{margin-top: 30px;color: rgba(255, 255, 255, 0.90);font-size: 26px;font-weight: 400;line-height: 150%;font-family: "Montserrat", sans-serif;}
.ceoGroup .textArea .btnViewmore{position: relative;display: inline-block;margin-top: 43px;padding: 0 25px;box-sizing: border-box;color: #FFF;font-size: 20px;font-weight: 400;line-height: normal;z-index: 1;font-family: "Montserrat", sans-serif;}
.ceoGroup .textArea .btnViewmore i{position: absolute;left: 0;top: 50%;width: 50px;height: 50px;margin-top: -25px;background: rgba(255, 255, 255, 0.20);border-radius: 50px;z-index: -1;}
.ceoGroup .textArea .btnViewmore:hover i{background: rgba(255, 255, 255, 0.60);}

#section4{position: relative;background: #FFF;overflow: hidden;}

.aboutusGroup{display: flex;flex-direction: row;flex-wrap: wrap;height: 70vh;padding-top: 30vh;}
.aboutusGroup:before{content: "About Us";opacity: 0;position: absolute;bottom: 67vh;color: #F7F7F7;font-size: 180px;font-weight: 700;line-height: 100%;z-index: 0;font-family: "Montserrat", sans-serif;}
.aboutusGroup .contact{opacity: 0;position: relative;width: 25%;height: 100%;padding: 22% 0 0 50px; background-image: url(../images/main/bg_contactUs.jpg);background-size: cover;background-position: center;background-repeat: no-repeat;box-sizing: border-box;z-index: 2;}
.aboutusGroup .contact h3{color: #000;font-size: 50px;font-weight: 700;line-height: normal;font-family: "Montserrat", sans-serif;}
.aboutusGroup .customer{opacity: 0;position: relative;width: 75%;height: 100%;padding: 100px 70px 50px;border-radius: 0px 100px 0px 0px;background: #F7F7F7;box-sizing: border-box;overflow: hidden;}
.aboutusGroup .customer h3{color: #000;font-size: 50px;font-weight: 700;line-height: normal;font-family: "Montserrat", sans-serif;}
.aboutusGroup .customer ul{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;gap: 20px;max-width: 1060px;margin-top: 50px;}
.aboutusGroup .customer ul li a{display: block;background: #fff;}
.aboutusGroup .btnViewmore{position: relative;display: block;width: 180px;margin-top: 50px;padding: 0 25px;box-sizing: border-box;color: #000;font-size: 20px;font-weight: 400;line-height: normal;z-index: 1;font-family: "Montserrat", sans-serif;}
.aboutusGroup .btnViewmore i{position: absolute;left: 0;top: 50%;width: 50px;height: 50px;margin-top: -25px;background: rgba(37, 72, 227, 0.50);border-radius: 50px;z-index: -1;}
.aboutusGroup .btnViewmore:hover i{background: #2548E3;}

#section4.ani .aboutusGroup:before{animation: rightAni 1s 2s both;}
#section4.ani .aboutusGroup .contact{animation: rightAni 0.8s 0.5s both;}
#section4.ani .aboutusGroup .customer{animation: rightAni 0.8s 1s both;}

@media screen and (max-width: 1599px){
}

@media screen and (max-width: 1199px){

    #section2,
    #section2 .fp-tableCell,
    .fp-scrollable{height: auto !important;}
    #section2 .inner{height: 100%;}
    #section2 .textGroup strong{font-size: 56px;}
    #section2 .textGroup p{margin-top: 20px;font-size: 19px;}
    #section2 .sloganGroup .btnViewmore{margin-top: 100px;}
    #section2 .mark{width: 301px;height: 302px;}
    #section2 .mark img{width: 150px;height: auto;}

    #section3,
    #section3 .fp-tableCell{height: auto !important;}
    #section3 .inner{padding: 100px 0;}
    .infoWrap .titleGroup .titleLg{margin-top: 0;font-size: 40px;}
    .infoWrap .infoList{flex-wrap: wrap;gap: 20px;}
    .infoWrap .infoList li{width: calc(50% - 10px);gap: 5px;}
    
    #section4,
    #section4 .fp-tableCell{height: auto !important;}
    #section4 .inner{padding: 100px 20px;}
    #section4 .titleGroup{margin-bottom: 20px;}
    #section4 .titleGroup .titleLg{font-size: 40px;}
    #section4 .titleGroup p{font-size: 18px;}
    .withGroup{height: 100%;}
    .movePartners{height: auto;min-height: auto;padding: 40px 0;}
}

@media screen and (max-width: 767px){

    #section1,
    #section1 .fp-tableCell{height: auto !important;}
    .visualSwiper{height: 100%;min-height: 100%;}
    .visualSwiper .visualBg{height: 100%;min-height: 280px;padding-top: 50%;}
    .pagination{bottom: 13%;}
    .visualControl .count{font-size: 14px;}

    #section2 .inner{padding: 70px 20px;}
    #section2 .sloganGroup .textGroup{order: 2;margin-top: 30px;}
    #section2 .textGroup strong{font-size: 34px;}
    #section2 .textGroup p{font-size: 18px;}
    #section2 .sloganGroup .btnViewmore{order: 3;margin-top: 50px; font-size: 16px;}
    #section2 .mark{position: inherit;width: 201px;height: 202px;order: 1;}
    #section2 .mark img{width: 100px;height: auto;}

    #section3 .inner{padding: 70px 0;}
    .infoWrap .titleGroup .titleLg{font-size: 26px;}
    .infoWrap .infoList li{width: 100%;gap: 0;}
    .infoWrap .infoList li img{width: 60px;height: 60px;}
    .infoWrap .infoList li strong{font-size: 32px;}
    .infoWrap .infoList li b{font-size: 24px;}
    .infoWrap .infoList li p{font-size: 16px;}

    #section4 .inner{padding: 70px 20px}
    #section4 .titleGroup .titleLg{font-size: 26px;}
    #section4 .titleGroup p{font-size: 16px;}
    .withGroup{padding-bottom: 30px;}
    .withList{height: auto;max-height: none;display: flex;flex-direction: column;align-items: center;}
    .withList li{position: relative;width: 100%;height: 180px;}
    .withList > li > a{position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: block;}
    .withList li dl dt em{width: 50px;}
    .withList li dl dt p{margin-top: 5px;font-size: 26px;}
    .withList li dl dd a{display: none;}
    .withList li:hover{width: 100%;}
    .withList li:hover dd{animation-play-state : paused;}
    .movePartners{padding: 0;}
    .movePartners .item{width: calc(var(--img-length, 16)*(33vw + 6px));-webkit-animation: marquee 30s linear 0s infinite;animation: marquee 30s linear 0s infinite;}
    .movePartners .item a{width: 33vw;margin: 0 3px;}
}

@-webkit-keyframes rightAni {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-100px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes rightAni {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-100px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}