#sub{position: relative;width: 100%;overflow: hidden;}

#subVisual{position: relative;display: flex;align-items: center;justify-content: center;height: 0;padding-top: 30%;box-sizing: border-box;text-align: center;z-index: 50;}
#subVisual .visualbg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -10;overflow: hidden;} 
#subVisual .visualbg:before{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;transform: scale(1.2);transform-origin: center center;animation: scale 2s 0.5s forwards;}
#subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01.jpg);}
#subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02.jpg);}
#subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03.jpg);}
#subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04.jpg);}
#subVisual .visualbg.bg05:before{background-image: url(../images/sub/bg_subVisual05.jpg);}
#subVisual .visualtext{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -10;overflow: hidden;} 
#subVisual .visualtext .inner{display: flex;align-items: flex-start;justify-content: center;flex-direction: column;max-width: 1440px;width: 100%;height: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
#subVisual .visualtext h2{color: #FFF;font-size: 64px;font-weight: 800;line-height: 100%;letter-spacing: -0.4px;text-align: left;}
#subVisual .visualtext .location{display: flex;margin-top: 30px;}
#subVisual .visualtext .location li + li:before{content: "";display: inline-block; width: 3px;height: 3px;background: rgba(255, 255, 255, 0.80);margin: 0 20px;vertical-align: 5px;}
#subVisual .visualtext .location li a{color: rgba(255, 255, 255, 0.80);font-size: 20px;font-weight: 600;line-height: 150%;letter-spacing: -0.4px;}
#subVisual .visualtext .location li:last-child a{color: #FFF;}
.snbList{position: absolute;bottom: 0;width: 100%;height: 60px;background: rgba(255, 255, 255, 0.80);}
.snbList ul{display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;justify-content: flex-start;max-width: 1440px;width: 100%;height: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.snbList ul li{height: 100%;}
.snbList ul li a{display: flex;height: 100%;padding: 0 50px;color: #000;font-size: 20px;font-weight: 400;line-height: normal;letter-spacing: -0.4px;align-items: center;justify-content: center;}
.snbList ul li.active a{border-radius: 0px 20px 0px 0px;background: #FFF;color: #2548E3;font-weight: 600;}
.subContent{position: relative;padding: 150px 0;background: #FFF;min-height: 350px;}
.subContent .inner{max-width: 1440px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}

.titleLg{position: relative;color: #000;font-size: 36px;font-weight: 700;line-height: 150%;letter-spacing: -0.4px;}
.titleLg::before{content: "";position: absolute;left: -2px;top: -2px;width: 10px;height: 10px;background: #2548E3;border-radius: 100%;}

.tableboardList{width: 100%;margin-top: 45px;border-top: 2px solid #2548E3;border-spacing: 0;border-collapse: separate;box-sizing: border-box;}
.tableboardList thead tr:last-child > * {border-bottom: 1px solid #CCC;}
.tableboardList th, .tableboardList td {height: 60px;padding: 15px 10px;color: #333;font-size: 16px;text-align: center;box-sizing: border-box;}
.tableboardList th {position: relative;background: #FBFDFF;font-weight: 600;letter-spacing: -0.8px;}
.tableboardList td {border-bottom: 1px solid #CCC;font-weight: 400;letter-spacing: -0.2px;}
.tableboardList td .noticeLabel{padding: 3px 14px;border-radius: 5px;background: #2548E3;color: #FFF;font-size: 12px;font-weight: 500;line-height: 100%;letter-spacing: -0.2px;text-align: center;}
.tableboardList td.subject{text-align: left;}
.tableboardList td.subject a{-webkit-transition: .3s;transition: .3s;}
.tableboardList td.subject a:hover{color: #000;text-decoration-line: underline;}
.tableboardList td .fileLabel{display: inline-block;width: 20px;height: 22px;background-image: url(../images/sub/icon_file.svg);background-position: center;background-size: 100%;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;vertical-align: middle;}
.boardBtnGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: flex-end;margin-top: 30px;}
.boardBtnGroup button, .boardBtnGroup a{display: inline-flex;justify-content: center;align-items: center;width: 160px;height: 50px;background: #fff;border: 1px solid #27276F;color: #27276F;box-sizing: border-box;font-size: 16px;font-weight: 500;letter-spacing: -1px;transition: .3s;-webkit-transition: .3s;}
.boardBtnGroup button + button, .boardBtnGroup a + a{margin-left: 10px;}
.boardBtnGroup button:hover, .boardBtnGroup a:hover{background: #27276F;border: 1px solid #27276F;color: #fff;}
.paging {margin-top: 100px;text-align: center;font-size: 0;}
.paging a, .paging strong {display: inline-block;width: 40px;height: 40px;line-height: 40px;margin: 0 3px;border-radius: 100%;box-sizing: border-box;color: #111;font-size: 15px;font-weight: 500;vertical-align: middle;text-decoration: none;z-index: 10;}
.paging strong {background: #2548E3;color: #FFF;font-weight: 700;}
.paging #page_prev, .paging #page_next{width: 40px;height: 40px;background-position: center;background-repeat: no-repeat;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.paging #page_prev{background-image: url(../images/sub/arrow_prev.svg);}
.paging #page_next{background-image: url(../images/sub/arrow_next.svg);}


@media screen and (max-width: 1499px){

    .subContent{}

}

@media screen and (max-width: 1199px){

    #subVisual{}
    #subVisual .visualtext h2{}

}

@media screen and (max-width: 767px){

    #subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01_m.jpg);}
    #subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02_m.jpg);}
    #subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03_m.jpg);}
    #subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04_m.jpg);}
    #subVisual .visualbg.bg05:before{background-image: url(../images/sub/bg_subVisual05_m.jpg);}


    .tableboardList {font-size: 14px;line-height: 1.5;}
    .tableboardList colgroup,
    .tableboardList thead{display: none;}
    .tableboardList .mNone{display: none;}
    .tableboardList tr{position: relative;display: block;padding: 20px 0;border-bottom: 1px solid #DDD;box-sizing: border-box;}
    .tableboardList td{display: inline-block;height: auto;padding: 0;border-bottom: 0;}
    .tableboardList td.td_subject{display: block;}
    .tableboardList td.date {line-height: 1;border-left: 1px solid #ddd;margin-left: 8px;padding-left: 10px;}
    .tableboardList td.hits {line-height: 1;border-left: 1px solid #ddd;margin: 0 8px;padding-left: 10px;}
    .tableboardList td.hits:before{content: "ì¡°íšŒìˆ˜";}
    .tableboardList td .fileLabel{width: 16px;height: 18px;}
    .paging{margin-top: 50px;}
    .paging a, .paging strong{margin: 0 2px;}
    .paging #page_prev{margin: 0 5px 0 0;padding-left: 20px;}
    .paging #page_next{margin: 0 0 0 5px;padding-right: 20px;}

}

@keyframes scale{ 
	0% {transform: scale(1.2);}
	100% {transform: scale(1);}
}